.differentials_entry_section {
    max-width: 100% !important;
    .main-head {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-bottom: 0rem;
    }
    .table-scrollable {
        height: 440px !important;
    overflow-x: scroll;
    }
    .table-scrollable table tbody, td, tfoot, th, thead, tr {
        border-color: #ffffff !important;
        border-style: solid;
        border-width: 0;
    }
    .table tr th, .table tr th {
        text-align: center;
    }
    thead th {
        padding: 5px !important;
    }
    .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid #dee2e6;
    }
    .differentials_thead {
        background-color: #2163f3 !important;
        color: white;
        font-size: 14px !important;
        vertical-align: middle !important;
        text-align: center;
        background: white;
    position: sticky;
    top: 0;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #2163f3;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        text-align: center;
    }
    .form-control:focus {
        color: rgb(0, 0, 0) !important;
        /* background-color: #80bdff !important; */
         border-color: #2163f3 !important;
        outline: none !important;
        box-shadow: unset !important;
      }
    // .clone-column-table-wrap {
    //     position: sticky;
    //     left: 0;
    // }
    select {
        // width: 200px;
     border-radius: 0.25rem;
    height: 38px;
    border: 1px solid #d4d9df !important;
    background-color: #f2f1f1 !important;
    width: 200px !important;
    text-align: left !important;
    }
    select:focus {
        border: unset !important;
    }
    .differential_btns {
        text-align: right;
        .btn-primary {
            background-color: #2163f3;
        }
        .btn {
            width: 100px;
            margin: 0px 10px;
            
        }
    }
}