.add_user_details {
    .add_user_details-form {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #f2f1f1;
        background-clip: border-box;
        border: 1px solid #f2f1f1;
        /* border-radius: 2.25rem; */
        // BORDER-RADIUS: 1rem;
        padding: 1rem 1rem;
        box-shadow: 0 3px 10px rgba(0, 0,0,0.2);
        .profile_user_heading {
            font-weight: bold;
            text-transform: uppercase;
        }
        .form-check-input {
            width: auto;
        }
        .form-control {
            border: 1px solid #2163f3 !important;
        }
        select {
            border: 1px solid #f2f1f1!important;
            background-color: #ffffff !important;
            color: #545454 !important;
            font-weight: 400 !important;
        }
        .differential_btns{
            .save_btn {
              background-color: #2163f3 !important;
              color: white;
              outline: none !important;
              border-color: #2163f3 !important;
              width: 100px;
               margin: 0px 10px;
            }
            .reset_btn {
              color: black;
              background-color: #f2f1f1;
              outline: none !important;
              border-color: #2163f3 !important;
              width: 100px;
              margin: 0px 10px;
            }
            .reset_btn:hover {
              color: black !important;
              background-color: #d9d6d6 !important;
              outline: none !important;
              border-color: #d9d6d6 !important;
            }
        }
    }
}