.approval_Settings_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f2f1f1;
    background-clip: border-box;
    border: 1px solid #f2f1f1;
    /* border-radius: 2.25rem; */
    // BORDER-RADIUS: 1rem;
    padding: 1rem 1rem;
    box-shadow: 0 3px 10px rgba(0, 0,0,0.2);
    ul li {
        background: transparent;
    }
      .save_btn {
        background-color: #2163f3 !important;
        color: white;
        outline: none !important;
        border-color: #2163f3 !important;
        width: 100px;
         margin: 0px 10px;
      }
      .save_btn:hover {
        background-color: #2163f3 !important;
        color: white;
        outline: none !important;
        border-color: #2163f3 !important;
        width: 100px;
         margin: 0px 10px;
      }
      .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        background-color: transparent !important;
        border: 1px solid rgba(33, 99, 243, 0.125) !important;
    }
    }