.Edit_newsfeed {
    margin-bottom: 5rem;
    max-width: 100% !important;
    h5 {
      font-weight: bold;
      padding-bottom: 10px;
    }
    .prog {
      .summernote {
        width: 100%;
        height: 100%;
        .ck-toolbar {
            border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border: 1px solid #2163f3;
          }
          .ck-editor__editable {
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border: 1px solid #2163f3 !important;
          }
          .ck-button  {
            border: 1px solid #2163f3;
          }
          .ck.ck-dropdown .ck-button.ck-dropdown__button {
            border: 1px solid #2163f3;
          }
      }
      .Editnews_card {
        min-height: 480px;
        border-radius: 30px;
        border-width: 3px;
        border-color: #f2f1f1;
        background-color: #f2f1f1;
        .card-body {
          .input-group {
              position: relative;
              display: flex;
              flex-wrap: nowrap;
              align-items: stretch;
              width: 100%;
          }
          .form-control {
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #2163f3;
              border-radius: 0.25rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
          .form-control:focus {
              color: #495057;
              background-color: #fff;
              border-color: #2163f3;
              outline: unset;
              box-shadow: unset !important;
          }
          textarea.form-control {
              height: auto;
          }
            .browse-btn {
              color: black;
              background-color: #f2f1f1;
              outline: none !important;
              border-color: #2163f3 !important;
            }
            .differential_btns{
                .save_btn {
                  background-color: #2163f3 !important;
                  color: white;
                  outline: none !important;
                  border-color: #2163f3 !important;
                  width: 100px;
                   margin: 0px 10px;
                }
                .reset_btn {
                  color: black;
                  background-color: #f2f1f1;
                  outline: none !important;
                  border-color: #2163f3 !important;
                  width: 100px;
                  margin: 0px 10px;
                }
                .reset_btn:hover {
                  color: black !important;
                  background-color: #d9d6d6 !important;
                  outline: none !important;
                  border-color: #d9d6d6 !important;
                }
            }
        }
      }
    }
  }
  // body {
  //     min-height: 100vh;
  //     margin: 0;
  //     background: #62acfd;
  //     display: flex;
  //     align-items: center;
  //     text-align: center;
  //     justify-content: center;
  //   }
    
    div.ck-editor__editable {
      min-height: 500px;
    }
    
    input {
      width: 95%;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    