.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
tbody, td, tfoot, th, thead, tr {
  border-color: #ffffff !important;
  border-style: solid;
  border-width: 0;
}
.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
}
table {
  border: 2px solid #f2f1f1 !important;
}

.react-bootstrap-table-pagination {
  text-align: left !important;
   margin-top: 0rem !important; 
}
@media (max-width: 767.98px) { 
  .react-bootstrap-table {
    overflow-x: scroll !important;
  }
  .table {
    width: max-content !important;
  }
  .react-bootstrap-table-pagination {
    text-align: left !important;
    margin-top: 3rem;
}
.react-bootstrap-table-pagination {
  text-align: left !important;
  margin-top: 0rem !important;
}
}